<h1>Editando Item</h1>

<%= render 'form', item: @item %>

<%= link_to 'Mostrar', class: "btn btn-info", @item %> |
<%= link_to 'Voltar', class: "btn btn-danger", itens_path(pedido: params[:pedido]) %>
