<section class="pt-3">
	<h3>Periféricos > Teclados</h3>

	<div class="row px-0">
		<div class="card card-produto col-2 px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://images-na.ssl-images-amazon.com/images/I/71IO7HI8amL._SL1500_.jpg"></img>
			</div>

			<div class="card-body">
				<h4 class="nome">Placa mãe Gamer</h4>
				<p class="preco">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>

		<div class="card card-produto col-2 px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://images-na.ssl-images-amazon.com/images/I/71IO7HI8amL._SL1500_.jpg"></img>
			</div>

			<div class="card-body">
				<h4 class="nome">Placa mãe Gamer</h4>
				<p class="preco">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>

		<div class="card card-produto col-2 px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://images-na.ssl-images-amazon.com/images/I/71IO7HI8amL._SL1500_.jpg"></img>
			</div>

			<div class="card-body">
				<h4 class="nome">Placa mãe Gamer</h4>
				<p class="preco">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>

		<div class="card card-produto col-2 px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://images-na.ssl-images-amazon.com/images/I/71IO7HI8amL._SL1500_.jpg"></img>
			</div>

			<div class="card-body">
				<h4 class="nome">Placa mãe Gamer</h4>
				<p class="preco">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>

		<div class="card card-produto col-2 px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://images-na.ssl-images-amazon.com/images/I/71IO7HI8amL._SL1500_.jpg"></img>
			</div>

			<div class="card-body">
				<h4 class="nome">Placa mãe Gamer</h4>
				<p class="preco">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>
<!-- 
		<div class="card col-2 mx-auto px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://emania.vteximg.com.br/arquivos/ids/164796-292-292/Produto11650.276a2d3244b27b15f710ccdfc535adef.jpg"></img>
			</div>

			<div class="card-body pb-0">
				<h4 class="produto-nome">Placa mãe Gamer</h4>
				<p class="valor">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>
	
		<div class="card col-2 mx-auto px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://http2.mlstatic.com/mouse-gamer-razer-naga-epic-chroma-sem-fio-D_NQ_NP_700539-MLB25796413067_072017-F.jpg"></img>
			</div>

			<div class="card-body pb-0">
				<h4 class="produto-nome">Placa mãe Gamer</h4>
				<p class="valor">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>
	
		<div class="card col-2 mx-auto px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://img.olx.com.br/images/13/137809090626329.jpg"></img>
			</div>

			<div class="card-body pb-0">
				<h4 class="produto-nome">Placa mãe Gamer</h4>
				<p class="valor">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div>
	
		<div class="card col-2 mx-auto px-0 pointer shadow-lg">
			<div class="card-head">
				<img class="img" src="https://http2.mlstatic.com/placa-mae-gamer-asrock-fatal1ty-b250-gaming-k4-D_NQ_NP_803812-MLB26279729580_112017-F.jpg"></img>
			</div>

			<div class="card-body pb-0">
				<h4 class="produto-nome">Placa mãe Gamer</h4>
				<p class="valor">R$ 200,00</p>
			</div>

			<div class="card-footer">
				<div class="row no-gutters">
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="fas fa-star col"></i>
					<i class="far fa-star col"></i>
					<i class="far fa-star col"></i>
				</div>
			</div>
		</div> -->
	</div>
</section>
