@import "sidebar";
@import "bootstrap";
@import "font_awesome5";
@import "toastr";

* {
	text-decoration: none !important;
}

body {
	min-height: 100vh;
}

.card.card-produto {
	margin-left: 3%;
	border: 0;

	.card-body {
		padding: 0.5rem 0.5rem 0 0.5rem;

		.nome {
		  line-height: 1;
			margin-bottom: 0.2rem;
		}

		.preco {
			margin-bottom: 0.2rem;
		}
	}
}

.theme-dark {
	background-color: #dddddd;
}

i {
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
}

.card-head .img {
	height: 180px;
	width: 100%;
	border: 5px solid black;
}


.card.card-anuncio{
	.card-body{
		.card-text.produto-descricao{
			overflow: hidden !important;
			max-height: 8ch !important;
		}
	}
}

.content-login {
	background-image: url('/assets/background.jpg');
	background-size: cover;
}

.card-login {
	background: rgba(24, 24, 24, 0.3);
	.card-body {
		background: rgba(24, 24, 24, 0.3);
	}
}

.text-shadow {
	text-shadow: 0px 3px 3px black	;
}

.home-head {
	background-image: url('/assets/home.jpg');
	background-size: cover;
}

.welcome {
	color: white !important;
}

.card-show {
	height: 500px !important;
}