<section>
	<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
	  <div class="card-head">
	    <div class="card-title">
				<h1>New Avaliacao</h1>
	    </div>
	  </div>
	  
	  <div class="card-body">
			<%= render 'form', avaliacao: @avaliacao %>
	  </div>

		<div class="card-footer">
			<%= link_to 'Voltar', avaliacoes_path, class: "btn btn-danger" %>
		</div>
	</div>
</section>

