<section>
  <div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
    <div class="card-head">
      <div class="card-title">
  			<%= @sub_categoria.nome %>
      </div>
    </div>

    <div class="card-body">
			<p>
			  <strong>Categoria:</strong>
			  <%= @sub_categoria.categoria.nome %>
			</p>
    </div>
    
    <div class="card-footer">
			<%= link_to 'Back', sub_categorias_path %>
    </div>
  </div>
</section>